.cart{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: rgb(199, 199, 199);
}
.additional-cart-feature{
    margin-top: 30px;
}
.cart-special-btn{
    width: 70%;
    margin-bottom: 10px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.recommendation-btn{
    background-color: rgb(2, 134, 2);
    color: white;
}
.recommendation-btn:hover{
    background-color: rgb(0, 117, 0);
}
.clear-btn{
    background-color: rgb(182, 0, 0);
    color: white;
}
.clear-btn:hover{
    background-color: rgb(150, 0, 0);
}

