.App {
  text-align: center;
}
.website-title{
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 8px;
  color:rgb(105, 44, 161);
}
.website-subtitle{
  margin-top: 0;
  margin-bottom: 30px;
  color:rgb(134, 36, 36);
}
.modal-img{
  width: 100%;
}
.modal-close-button{
  position: absolute;
  top: 2%;
  right: 2%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  background-color: rgb(153, 2, 2);
  color: white;
  cursor: pointer;
}
